@model WebApplication1.Models.Jizdenka

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jizdenka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jizda.spz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jizda.spz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klient.jmeno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klient.jmeno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cislo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
